.TeacherDiv {
    display: grid;
    grid-template-columns: 40% 60%;
    height: 150px;
    border-top: 1px solid #ccc;
    z-index: 100;
    cursor: pointer;
}

.TeacherImg {
    width: 125px;
    height: 125px;
    overflow: hidden;
    object-fit: cover;
    border-radius: 100%;
    margin-left: 30px;
    margin-top: auto;
    margin-bottom: auto;
}

.TeacherInfo {
    width: 100%;
    overflow-x: hidden;
     
    p {
        margin: 0 10px 0 10px;
        text-align: center;
    }
}

.SelectedTeacherInfo {
    width: 100%;
    overflow-x: hidden;
    background-color: #ccc;
     
    p {
        margin: 0 10px 0 10px;
        text-align: center;
    }
}

button {
    display: inline-block;
    margin: 0 auto 0 auto;
    position: relative;
    top: 20px;
    border: 1px solid #ccc;
    padding: 5px;
    font-size: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
}