.TimeDivsContainer {
}

.TimePeriodDiv {
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 10px auto 10px auto;
    padding: 10px;

    display: grid;
    grid-template-columns: 75% 25%;
}

.InfoDiv {
    text-align: left;
    margin-left: 30px;

    p {
        margin: 8px auto 8px auto;
    }
}

#ReserveButton {
    background-color: black;
    color: white;
    width: 70px;
    height: 40px;
    outline: none;
    font-size: 20px;
    margin: auto 0 auto 0;
}

.CancelButton {
    background-color: black;
    color: white;
    width: 50px;
    float: right;
    position: relative;
    top: 8px;
    outline: none;
}

.ButtonContainer {
    padding: 0 auto 0 auto;
    width: auto;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}