.ArrowContainer {
    display: inline-block;
    margin-top: 20px;
}

.nextArrow {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-top: 4px solid rgb(0, 147, 206);
    border-right: 4px solid  rgb(0, 147, 206);
    transform: rotate(45deg);
    margin-right: 10px;
}