.TeacherSelectionPage {
    width: 100%;
    text-align: center;

    .Banner {
        width: 100%;
        text-align: left;
    }
}

.PrevStepButton {
    display: inline-block;
}

.BannerImg {
    width: 100%;
    border: none;
    vertical-align: middle;
}

.ButtonContainer {
    position: absolute;
    display: inline-block;
    z-index: 100;
    left: 20px;
    top: 20px;
}

